# Neon Database Connection Details
POSTGRES_DATABASE=neondb
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_Qqk4BlE3oHnh
POSTGRES_HOST=ep-nameless-mud-amb4whtp-pooler.c-5.us-east-1.aws.neon.tech
POSTGRES_PORT=5432

# Full connection string (Recommended for most uses)
DATABASE_URL=postgresql://neondb_owner:npg_Qqk4BlE3oHnh@ep-nameless-mud-amb4whtp-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require